* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width:100vw;
    background-color: #323232;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.question {
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.question h3 {
    color: #FDB813;
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
}
.question p {
    margin-left: 3vw;
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.answer {
    width: 35vw;
    height: 10vh;
    border: 3px solid white;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer:hover {
    background-color: #FDB813
}    
.answer p{
    font-size: 23px;
    margin-left: 0;
}
.level p {
    font-size: 16px;
    margin-left: 0;
}
.rest {
    display: flex;
    flex-direction: column;
}
.timer {
    display:flex;
    justify-content: center;
}
.level p {
    color: #FDB813;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.quit {
    width: 10vw;
    height: 5vh;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    align-self: center;
    margin-top: 2vh;
}
.quit p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
.quit:hover {
    background-color:  #FDB813;
}
.top-img {
    position: relative;
    right: 25px;
    width: 360px;
    margin-bottom: 2vh;
}
.bottom-img {
    position: absolute;
    bottom: 0;
    right: 25px;
    width: 320px;
    height: 200px;
}