#quiz-app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.levelScreenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding-right: 25%;
}

#numberOfQuestionsInput,
.differenceLevel {
    border: 1px solid var(--white);
    height: 7px;
    width: 94%;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    padding: 0 1%;
    margin: 0 3%;
}

input[type='range']::-moz-range-thumb,
input[type='range']::-webkit-slider-thumb
 {
    border: 3px solid var(--yellow);
    height: 300%;
    /* height: 20px; */
    width: 5%;
    /* width: 20px; */
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.numberOfQuestionsContainer,
.levelContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    padding: 0 15px;
    /* margin-top: 2%; */
    height: 30%;
}
.levelContainer{
    padding: 3% 15px;
}
.numberOfQuestionsContainer{
    padding-bottom:3%;
}
.numberOfQuestionsContainer p, .levelContainer>p {
    text-align: center;
    margin: 0;
    font-weight: 900;
    font-style: italic;
}
.levelLabelsContainer {
    display: flex;
    justify-content: space-between;
}
.levelLabel {
    color: var(--yellow);
    font-weight: 700;
}

.numberOfQuestionsInputWrapper {
    height: 10%;
    position: relative;
    margin-top: 10%;
}

.bubble {
    /* background:  var(--yellow); */
    color: var(--white);
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    border: 3px solid var(--yellow);
    bottom: 20px;
    transform: translateX(-50%);
}

.buttonsContainer {
    /* position: absolute; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* bottom: 20%; */
    height: 20%;
}

.buttonsContainer * {
    box-sizing: border-box;
    height: auto;
    width: 32%;
    margin: 0 4%;
    font-size: 1.5rem;
}
.buttonsContainer > .btn {
    padding: 1rem 1rem;
}

.font {
    font-size: 2rem;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
}

.headTop {
    position: absolute;
    top: 0;
    right: 5%;
    width: 25%;
}
.headBottom {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 22.5%;
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    :root {
        font-size: 10px;
    }
}

@media (max-width: 520px) {
    /* :root {
        font-size: 10px;
    } */
    .levelScreenWrapper {
        /* margin: 15% 0; */
        /* height: 90%; */
        padding-right: 0;
    }
    .numberOfQuestionsContainer,
    .levelContainer {
        height: 40%;
    }
    .numberOfQuestionsInputWrapper {
        height: 15%;
    }
    .headTop {
        right: 38%;
    }
    .headBottom {
        right: 38%;
    }
    #main-wrap {
        padding: 15% 0 20% 0;
    }
    .bubble {
        bottom: 30px;
    }
}
