* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, serif;
}

:root {
    --black: #323232;
    --yellow: #fdb813;
    --white: #f8f8f8;
}
/* #main-wrap{
    width: 100vw;
    height: 100vh;
} */

body {
    background-color: var(--black);
    color: var(--white);
}

.leaderboardWrapper {
    max-width: 80%;
    height: 100vh;
    margin: 1% auto;
}

.titleDiv {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: var (var(--black));
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

.top3Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.top3Container > * {
    display: flex;
    flex-direction: column;
    width: 9rem;
    text-align: center;
    margin: 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.top3Container .item1 {
    color: gold;
}

.top3Container .item2 {
    margin-top: 2rem;
    color: silver;
}

.top3Container .item3 {
    margin-top: 3rem;
    color: brown;
}

.position1,
.position2,
.position3 {
    font-weight: 800;
    font-size: 5rem;
}

.userName1,
.userName2,
.userName3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.score1,
.score2,
.score3 {
    color: #f8f8f8;
}

.listContainer {
    margin: 1rem auto;
    min-width: 160px;
    max-width: 400px;
}

/* list items */
.listElementBox {
    display: flex;
    align-items: center;
    background: transparent;
    border: #323232 2px;
    height: 1.8rem;
    border: 2px solid var(--white);
    border-radius: 4rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.listElementBox .userName {
    font-weight: 500;
    margin-left: 0.5rem;
    flex-grow: 2;
    flex-basis: 10rem;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.score {
    margin-right: 6px;
}

.backToMenuButton {
    border: 5px solid var(--yellow);
    /* padding: 10px 60px; */
    color: var(--yellow);

    text-align: center;
    margin: auto auto;
    background-color: transparent;
    border: 5px solid var(--white);
    border-radius: 200px;
    color: var(--white);
    /* padding: 20px 90px; */
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    max-width: 300px;
}

.backToMenuButton:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.headTop {
    position: absolute;
    top: 0;
    right: 5%;
    width: 25%;
}
.headBottom {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 22.5%;
}