* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, serif;
}

:root {
    --black: #323232;
    --yellow: #fdb813;
    --white: #f8f8f8;
}

body {
    background-color: var(--white);
}

#leaderboard {
    max-width: 70vw;
    height: 100vh;
    margin: auto auto;
}

.titleDiv {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    color: var (var(--black));
}

.top3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top3 > * {
    display: flex;
    flex-direction: column;
    width: 9rem;
    text-align: center;
    margin: 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.top3 .item1 {
    color: gold;
}

.top3 .item2 {
    margin-top: 2rem;
    color: silver;
}

.top3 .item3 {
    margin-top: 3rem;
    color: brown;
}

.position1,
.position2,
.position3 {
    font-weight: 800;
    font-size: 5rem;
}

.userName1,
.userName2,
.userName3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.score1,
.score2,
.score3 {
    color: var(--black);
}

.list {
    margin: 1rem auto;
    min-width: 160px;
    max-width: 800px;
}

/* list items */
.list > * {
    display: flex;
    align-items: center;
    background: white;
    border: #323232 2px;
    height: 1.8rem;
    border-radius: 4rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.additional .userName {
    font-weight: 500;
    margin-left: 1rem;
    flex-grow: 2;
    flex-basis: 10rem;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}
.list > * {
    margin-right: 1.5rem;
    opacity: 0.7;
}

.menuButton {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
}

.buttonDiv {
    text-align: center;
}
